.programmingLanguagesContainer{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.programmingLanguagesIntroductionContainer{
    position: relative;
    width: 100%;
    max-width: 1900px;
    padding: 0px;
}

.programmingLanguagesIntroductionTitle {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #333;
}
.programmingLanguagesIntroductionText {
    text-align: justify;
    margin: 20px 0;
}

.programmingLanguagesCard {
    cursor: pointer;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease
}
    
.programmingLanguagesCard:hover {
    transform: scale(1.10);
}