@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

.header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #454c77;
    z-index: 999;
    box-shadow: 0 0 10px black;
    color: white;
    position: sticky;
    top: 0px;
}

